<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <%- include('_header'); -%>

        <%- body %>

        <%- include('_footer'); -%>
        <script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
    </body>
</html>